* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #e0e0e0;
  --card-background: #eeeeee;
  --gray: #dcdde0;
  --text: #666666;
  --black: #000000;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green:#4cd62b;
  --blue: #0277bd;
  --blue-dark: #4953b8;
  --blue-header: #1565c0;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  color: var(--text) !important;
  min-width: 440px;
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

main img {
  width: 30px;
  margin: 0 0.6rem;
}


main > .card {
  margin-top: 1.5rem;
}

main > div > div > .card-title {
  display: flex;
  align-items: center;
}


main > .pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
